

:root {
  --main-text-color:#757575;
  --tittle-color:#212121;
  --accent-color:#fff;
  --accent-color-text:#2196F3;

  --main-bg:#E5E5E5;;
  --alt-bg:#2F303A;
  --team-bg:#F5F4FA;
  
  --main-font:'Roboto',sans-serif;
  --logo-font:font-family: 'Raleway',sans-serif;

}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-text-color);

}

.link {
  color:inherit;
  text-decoration: none;  
}

.link:hover,
.link:focus {
color:var(--accent-color-text)
}

.list{
  list-style: none;  
}

.address{
  font-style:inherit;
}

.main-button{
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--accent-color);
  cursor: pointer;
}

.page-title{
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.features{
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--tittle-color)
}

.features-text{
  font-size: 14px;
  line-height: 1.71;
  
}

.section-title{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--tittle-color);
}

.team-names{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--tittle-color);
}

.team-profession{
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--main-text-color);  
}

.filter-button{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: var(--tittle-color);
  cursor: pointer;  
}

.filter-button:hover,
.filter-button:focus{
color: var(--accent-color);
}

.projects{
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--tittle-color)    
}

.category{
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-text-color); 
}

.link-pages{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.02em;
  color: var(--tittle-color);
  text-decoration: none; 
}

.link-pages:hover,
.link-pages:focus{
  color: var(--accent-color-text);
}

.link-pages.current{
  color:var(--accent-color-text);
}

.link-top{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-decoration: none;
}

.link-top:hover,
.link-top:focus{
  color: var(--accent-color-text);

}

.link-bottom{
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

}

.link-bottom:hover,
.link-bottom:focus{
  color: var(--accent-color-text);  
}

.map-link{
font-size: 14px;
line-height: 1.71;
color: var(--accent-color);
text-decoration: none;
}

.map-link:hover,
.map-link:focus{
  color: var(--accent-color-text);
}

.link-logo{
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color-text);
  text-decoration: none;
}

.studio{
  font-size: 26px;
  line-height: 1.19;
  color:var(--tittle-color);
}

.studio-bottom{
  color:var(--accent-color)
}